</body>

</footer>

<div class="footer-2">
      <div class="container">
         <div class="row">
            <div class="col-lg-9 col-md-12">
               <div class="row">

                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="foot2-col-1 mobbot">
                        <h3>Our Services</h3>
                        <div class="links">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/free-kundli">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Free Horoscope</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/live">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Live Sessions</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/life-prediction">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Life Prediction</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/finance-prediction">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Finance Prediction</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/lal-kitab">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Lal Kitab</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/horoscope">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Daily Horoscope</span>
                                 </a>
                              </li>
                             
                           </ul>
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="foot2-col-1 mobbot">
                        <h3>Calender</h3>
                        <div class="links gap-equal">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/amavasya-calendar-2024">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Amavasya Calendar 2024</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/purnima-calendar-2024">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Purnima Calendar 2024</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/muhurat">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Muhurat 2024</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/muhurat/marriage-muhurat">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Marriage Muhurat 2024</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

                  <!--ak dynamic footer starts-->

                                     <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="foot2-col-1 mobbot">
                        <h3>Mantra</h3>
                        <div class="links gap-equal">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/mantra">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Mantra
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/sai-mantra">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Sai Mantra
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/gayatri-maha-mantra">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Gayatri Maha Mantra
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/santan-gopal-mantra">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Santan Gopal Mantra
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/hanuman-mantra">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Hanuman Mantra
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

                  <!--dynamic footer end -->

                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="mobbot">
                        <h3>Astrologer</h3>
                        <div class="links">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/signin">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Astrologer Signin</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/signup">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Join as new Astrologer</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/talk-with-astrologer">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <span>Talk with Astrologer</span>
                                 </a>
                              </li>
                              
                           </ul>
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="mobbot">
                        <h3>Quick Links</h3>
                        <div class="links gap-equal">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/watch">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Watch</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/blogs">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Blogs</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/contact-us">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Contact Us</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/about-us">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       About Us</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

                  <!--ak dynamic footer starts-->

                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="mobbot">
                        <h3>Corporate Info.</h3>
                        <div class="links gap-equal">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/privacy-policy">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Privacy Policy
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/return-policy">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Return Policy
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/term-and-conditions">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Terms and Conditions
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/shipping-and-delivery-policy">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Shipping & Delivery Policy
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/disclaimer">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Disclaimer
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="mobbot">
                        <h3>Calculators</h3>
                        <div class="links gap-equal">
                           <ul class="ul-1">
                              <li>
                                 <a href="https://astroera.in/calculator">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Calculators
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/love-calculator">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       Love Calculators
                                 </a>
                              </li>
                              <li>
                                 <a href="https://astroera.in/flame-calculator">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i><span>
                                       FLAMES Calculators
                                 </a>
                              </li>
                            
                           </ul>
                        </div>
                     </div>
                  </div>


 </footer>

</html>
